<div class="d-flex mt-3 row container-fluid container d-flex justify-content-around">
    <img class="col-6" src="{{item.product.url}}" alt="{{item.product.name}}">
  <div class="col-6 mt-5">
    <h3 class="col-12">{{item.product.name}}</h3>
    <h6 class="col-12">${{item.product.price}}</h6>
    <div class="row col-12">
      <h6 class="col-8 mt-1">Quantity: </h6>
      <input class="col-4 ms-3" type="number" min="1" max="10" value="{{item.quantity}}"
             [(ngModel)]="quantity" (ngModelChange)="updateItemQuantity()">
    </div>
    <h6 class="mt-1">Total: ${{(item.quantity*item.product.price)?.toFixed(2)}}</h6>
    <button class="btn btn-danger mt-2" (click)="removeCartItem()">Remove item</button>
  </div>
  <hr class="mt-4">
</div>
